$font: "Inconsolata", monospace;

* {
  font-family: $font;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  overflow-x: hidden;
  background-color: #12232e;

  #particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
}

h1 {
  font-size: 6rem;
  line-height: 0.3;
  color: #fff;
}

p {
  color: #fff;
}

.cr {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(199, 162, 0, 0.5);
  border-radius: 100%;
  transition: all 80ms ease;
}

.dot {
  position: fixed;
  left: 0;
  top: 0;
  width: 5px;
  height: 5px;
  background: rgba(199, 162, 0, 0.5);
  border-radius: 100%;
  transition: all 80ms ease;
}

.main-container {
  .first-col {
    padding-right: 5%;

    .hello {
      font-size: 5rem;
      font-family: $font;
      color: transparent;
      text-transform: uppercase;
      -webkit-text-stroke: 0.6px #fff;

      .znak {
        -webkit-text-stroke: 0.6px #fff;
        color: transparent;
      }
    }

    .my-name {
      font-size: 5rem;
      font-family: $font;
      text-transform: uppercase;
      color: #fff;

      .nikola-heading {
        -webkit-text-stroke: 0.6px #fff;
      }

      .znak {
        -webkit-text-stroke: 0.6px #fff;
        color: transparent;
      }
    }
    p {
      font-size: 1.5rem;
    }
  }

  .second-col {
    padding: 2% 4%;

    .circle-shadow {
      background: rgba(199, 162, 0, 0.4);
      border-radius: 50%;
      filter: blur(3px);
      height: 30px;
      width: 350px;
      position: relative;
      bottom: 40px;
      // left: 30px;
    }
    .t-rex {
      width: 350px;
    }

    svg {
      fill: #fff;
    }

    [id="L"],
    [id="R"] {
      animation: leg 2s infinite steps(2);
    }

    [id="R"] {
      animation-delay: -1s;
    }

    @keyframes leg {
      to {
        transform: translateY(-30%);
        fill: rgba(199, 162, 0, 1);
      }
    }

    p {
      text-align: center;
    }
  }
}

.about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #162733;
  padding: 6% 0;

  h1 {
    color: transparent;
    -webkit-text-stroke: 0.6px #fff;
  }

  .about-me-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0;

    .social {
      z-index: 2;
    }

    p {
      color: #fff;
    }
  }

  .education {
    .courses {
      display: flex;
      flex-direction: row;

      .course {
        padding-right: 2%;
        border-bottom: 1px solid #fff;

        .title {
          color: rgba(199, 162, 0, 1);
        }
      }
    }
  }

  .top-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dev-txt {
      padding-top: 10%;
      padding-bottom: 2%;
      color: #fff;
      font-size: 1.2rem;
    }
  }

  .learning-in-the-moment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;

    span {
      color: #fff;
      font-size: 1.2rem;
      padding-bottom: 4%;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 1% 0;
  position: relative;
  z-index: 1;

  .footer-text {
    font-size: 1rem;
    color: white;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #12232e;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #12232e;
}

::-webkit-scrollbar-thumb {
  background-color: #12232e;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

// ~~~ vars ~~~
// burger button
$burger-h: 26px;
$burger-w: 26px;
// burger button stripes
$menu-stripe-w: 26px;
$menu-stripe-h: 3px;
$menu-stripe-color: rgb(199, 162, 0);
$menu-stripe-color-h: white;
// header
// $header-h: 50px;
$header-background: #2c3e50;
// side menu
$side-menu-w: 20%;

// ~~~ mixins ~~~
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

.menu-stripe {
  display: inline-flex;
  width: $menu-stripe-w;
  height: $menu-stripe-h;
  background: $menu-stripe-color;
  @include transition(all 0.1s linear);

  &:before,
  &:after {
    content: "";
    display: inline-flex;
    width: $menu-stripe-w;
    height: $menu-stripe-h;
    background: $menu-stripe-color;
    position: absolute;
    left: 0;
    @include transition(all 0.1s linear);
  }

  &:before {
    top: -8px;
  }

  &:after {
    top: 8px;
  }
}

.header-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 2.5rem;
  margin-right: 3rem;
  z-index: 3;

  .menu {
    position: relative;
  }

  #menu-trigger {
    display: flex;
    // align-items: center;
    // justify-content: end;
    width: $burger-w;
    // height: $burger-h;
    line-height: 15px;
    position: sticky;
    top: 2.5rem;
    left: 3rem;
    cursor: pointer;
    z-index: 2;
    @include transform(translateY(-50%));

    // when you click the hamburger button
    &.menu-clicked {
      .menu-stripe {
        background-color: transparent;

        &:before {
          background-color: white;
          top: 50%;
          @include transform(translateY(-50%) rotate(45deg));
        }

        &:after {
          background-color: white;
          top: 50%;
          @include transform(translateY(-50%) rotate(-45deg));
        }
      }

      // hovering the hamburger button when its clicked
      &:hover {
        .menu-stripe {
          background-color: transparent;

          &:before {
            top: 50%;
            @include transform(translateY(-50%) rotate(45deg));
          }

          &:after {
            top: 50%;
            @include transform(translateY(-50%) rotate(-45deg));
          }
        }
      }
    }

    // hover the hamburger button
    &:hover {
      .menu-stripe {
        background-color: $menu-stripe-color-h;

        &:before,
        &:after {
          background-color: $menu-stripe-color-h;
        }

        &:before {
          top: -10px;
        }

        &:after {
          top: 10px;
        }
      }
    }
  }
}

.side-menu-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  width: $side-menu-w;
  height: 100%;
  background-color: #34495ee7;
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  visibility: hidden;
  padding: 5rem;

  a {
    display: flex;
    flex-direction: column;
    line-height: 3;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
  }

  a:hover {
    color: rgba(199, 162, 0, 0.9);
  }

  .menu-copyright {
    position: absolute;
    bottom: 20%;
  }

  .social-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;

    & > * {
      padding-right: 20px;
    }
  }

  @include transition(transform 0.4s 0s, visibility 0s 0.4s);
  @include transform(translateY(100%));

  &.slide-in {
    visibility: visible;
    @include transform(translateY(0));
    @include transition(transform 0.4s 0s, visibility 0s 0s);
  }
}

.page-heading {
  .portfolio-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 2% 0 1% 7%;
    font-family: "Inconsolata", monospace;
  }

  .portfolio-header span:nth-child(1) {
    font-size: 3rem;
    color: rgba(199, 162, 0, 1);
    -webkit-text-stroke: 0;
  }
  .portfolio-header span {
    letter-spacing: -3px;
    font-size: 9rem;
    color: transparent;
    -webkit-text-stroke: 0.6px #fff;
  }
  .portfolio-header span::before {
    content: attr(data-text);
    position: absolute;
    top: 18.5%;
    width: 0;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    transition: all 2s cubic-bezier(0.29, 0.73, 0.74, 1.02);
  }

  .portfolio-header span:hover::before {
    width: 100%;
  }

  .portfolio-header [data-animation="to-left"] span::before {
    color: white;
  }

  .portfolio-header [data-animation] span::before {
    width: 100%;
  }

  .portfolio-header [data-animation="to-left"] span:hover::before {
    width: 0;
  }

  .resume {
    a {
      font-family: "Inconsolata", monospace;
      position: relative;
      left: 85%;
      font-size: 2rem;
      color: #fff;
      line-height: 0;
      text-decoration: none;
    }
  }
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: transparent;

  .col-work:nth-of-type(1) {
    top: 0;
  }

  .col-work {
    position: relative;
    a {
      text-transform: uppercase;
      color: transparent;

      z-index: 1;
    }

    p {
      color: rgba(199, 162, 0, 1);
    }

    span {
      display: block;
      font-size: 3rem;
      -webkit-text-stroke: 0.6px #fff;
      font-family: "Inconsolata", monospace;
      padding-bottom: 2rem;
    }

    span::before {
      content: attr(data-text);
      position: absolute;
      width: 0;
      color: #fff;
      overflow: hidden;
      cursor: pointer;
      white-space: nowrap;
      transition: all 2s cubic-bezier(0.29, 0.73, 0.74, 2.02);
    }
  }

  h2 {
    -webkit-text-stroke: 0.8px #fff;
    font-size: 5rem;
    color: transparent;

    span {
      color: #ffffff;
    }
  }
}

.main-container .col-work span:hover::before {
  width: 100%;
}
.main-container .col-work [data-animation="to-left"] span::before {
  color: white;
}

.main-container .col-work [data-animation] span::before {
  width: 100%;
}

.main-container .col-work [data-animation="to-left"] span:hover::before {
  width: 0;
}

.divider {
  padding: 0 6rem;

  div {
    height: 1px;
    background-color: #fff;
  }
}

@import "_responsive";
